[submodule "Meta Kernel/Aggregator"]
	path = Meta Kernel/Aggregator
	url = https://github.com/icos-project/Aggregator
	branch = main
[submodule "Meta Kernel/OCM Description Service"]
	path = Meta Kernel/OCM Description Service
	url = https://github.com/icos-project/ocm-description-service
	branch = release
[submodule "Meta Kernel/Job Manager"]
	path = Meta Kernel/Job Manager
	url = https://github.com/icos-project/job-manager
	branch = release
[submodule "Meta Kernel/OCM Description Sidecar"]
	path = Meta Kernel/OCM Description Sidecar
	url = https://github.com/icos-project/ocm-description-sidecar
	branch = release
[submodule "Meta Kernel/Observability/Metrics Export"]
	path = Meta Kernel/Observability/Metrics Export
	url = https://github.com/icos-project/Metrics-Export
	branch = release
[submodule "Meta Kernel/Observability/NodeFeatureDiscovery"]
	path = Meta Kernel/Observability/NodeFeatureDiscovery
	url = https://github.com/icos-project/NodeFeatureDiscovery
	branch = release
[submodule "Meta Kernel/Observability/Tetragon Auditing"]
	path = Meta Kernel/Observability/Tetragon Auditing
	url = https://github.com/icos-project/tetragon-auditing
	branch = release
[submodule "Security/Security Coordination Module"]
	path = Security/Security Coordination Module
	url = https://github.com/icos-project/Security-coordination-module
	branch = release
[submodule "Meta Kernel/Dynamic Policy Manager"]
	path = Meta Kernel/Dynamic Policy Manager
	url = https://github.com/icos-project/dynamic-policy-manager
	branch = main
[submodule "Data Management/DataClay Charts"]
	path = Data Management/DataClay Charts
	url = https://github.com/icos-project/dataclay-charts
	branch = main
[submodule "Meta Kernel/Nuvla Deployment Manager"]
	path = Meta Kernel/Nuvla Deployment Manager
	url = https://github.com/icos-project/deployment-manager-nuvla
	branch = release
[submodule "Data Management/DataClay"]
	path = Data Management/DataClay
	url = https://github.com/icos-project/dataclay
	branch = main
[submodule "Continuum Management/Lighthouse Registration Service"]
	path = Continuum Management/Lighthouse Registration Service
	url = https://github.com/icos-project/lighthouse-registration-service
	branch = release
[submodule "Meta Kernel/Observability/OTEL Collector ICOS Distribution"]
	path = Meta Kernel/Observability/Telemetruum/OTEL Collector ICOS Distribution
	url = https://github.com/icos-project/OTEL-Collector-ICOS-Distribution
	branch = release
[submodule "Meta Kernel/Observability/Scaphandre"]
	path = Meta Kernel/Observability/Scaphandre
	url = https://github.com/icos-project/Scaphandre
	branch = release
[submodule "Intelligence/Federated\\ Learning"]
	path = Intelligence/Federated\\ Learning
	url = https://github.com/icos-project/icos-fl
	branch = release
[submodule "Meta Kernel/Topology Exporter"]
	path = Meta Kernel/Topology Exporter
	url = https://github.com/icos-project/topology-exporter
	branch = release
[submodule "Meta Kernel/Dynamic Policy Manager GUI"]
	path = Meta Kernel/Dynamic Policy Manager GUI
	url = https://github.com/icos-project/Dynamic-Policy-Manager-GUI
	branch = release
[submodule "Meta Kernel/Dynamic Policy Manager Helm Chart"]
	path = Meta Kernel/Dynamic Policy Manager Helm Chart
	url = https://github.com/icos-project/Dynamic-Policy-Manager-Helm-Chart
	branch = release
[submodule "Meta Kernel/Observability/Telemetruum/Telemetruum Leaf Exporter"]
	path = Meta Kernel/Observability/Telemetruum/Telemetruum Leaf Exporter
	url = https://github.com/icos-project/Telemetruum-Leaf-Exporter
	branch = release
[submodule "Meta Kernel/Observability/Telemetruum/Telemetruum Leaf Helm Chart"]
	path = Meta Kernel/Observability/Telemetruum/Telemetruum Leaf Helm Chart
	url = https://github.com/icos-project/Telemetruum-Leaf-Helm-Chart
	branch = release
[submodule "Meta Kernel/Observability/Telemetruum/Telemetruum Hub Helm Chart"]
	path = Meta Kernel/Observability/Telemetruum/Telemetruum Hub Helm Chart
	url = https://github.com/icos-project/Telemetruum-Hub-Helm-Chart
	branch = release
[submodule "Meta Kernel/Observability/Telemetruum/Telemetruum Gateway Helm Chart"]
	path = Meta Kernel/Observability/Telemetruum/Telemetruum Gateway Helm Chart
	url = https://github.com/icos-project/Telemetruum-Gateway-Helm-Chart
	branch = release
[submodule "Kernel/Observability/Telemetruum/Telemetruum Docs"]
	path = Meta Kernel/Observability/Telemetruum/Telemetruum Docs
	url = https://github.com/icos-project/Telemetruum-Docs
	branch = release
[submodule "Meta Kernel/Observability/Telemetruum/Telemetruum Leaf Compose"]
	path = Meta Kernel/Observability/Telemetruum/Telemetruum Leaf Compose
	url = https://github.com/icos-project/Telemetruum-Leaf-Compose
	branch = release
[submodule "Intelligence/Metrics Export"]
	path = Intelligence/Metrics Export
	url = https://github.com/icos-project/Metrics-Export
	branch = release
